:root {
  background-color:#242424;
  background-size: cover;
  color: blanchedalmond;
  font-family: Copperplate, "Copperplate Gothic Light", fantasy;
  position: relative;
  z-index: 1;
}

:root::before {
  content: "";
  width: 100%;
  height: 100%;
  top: 0;
  position: absolute;
  z-index: -1;
  background-image: url("src/assets/background3.jpg");
  background-size: cover;
  opacity: 38%;
}

header {
  display: flex;
  justify-content: center;
  background-image: url("src/assets/navtexture1.jpg");
  background-size: cover;
  border-bottom: 4px outset rgb(0, 0, 0);
  height: 30px;
  padding-top: .5vh;
  position:relative;
  z-index: 2;
}

header::before {
  content: "";
  width: 100%;
  height: 100%;
  top: 0;
  position:absolute;
  z-index: 1;
  background-color: rgb(27, 17, 0);
  opacity: 50%;
}

body {
  margin: 0;
  height:100vh;
  width: 100%;
}

header > a {
  margin-left: 5vh;
  margin-right: 5vh;
  color: blanchedalmond;
  position:relative;
  z-index: 2;
  
}

header > a:visited {
  color: blanchedalmond
}

#character-sheet-block {
  margin-top: 2.5vh;
  width: 80%;
  min-height: 100vh; /* This height setting is for testing development purposes only - DELETE */
  height: fit-content;
  justify-self: center;
  border: 2px outset blanchedalmond;
  background-color: rgb(68, 46, 7);
  position: relative;
  z-index: 0;
  color: rgb(27, 17, 0);
}

#character-sheet-block::before {
  content: "";
  width: 100%;
  height: 100%;
  top: 0;
  position: absolute;
  z-index: -1;
  background-image: url("src/assets/background3.jpg");
  background-size: cover;
  opacity: 35%;
}

#character-sheet-header {
  margin-top: 2.5vh;
  justify-self: center
}

#basic-info-block {
  width: 90%;
  height: 300px;
  justify-self: center;
  background-color: transparent;
  border: 2px solid rgb(27, 17, 0);
  border-radius: 12.5%;
  margin-top: 2vh;
  position: relative;
  z-index: 0;
  overflow: hidden;
}

#basic-info-block::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgb(255, 229, 189);
  border-radius: 12.5%;
  z-index: -1; 
  opacity: 75%
}

#basic-info-block > * {
  padding-left: 40%;  /* This padding is for testing purposes only - DELETE */
  position: relative; 
  z-index: 1;
  color: rgb(27, 17, 0);
}

#abilities-block {
width: 90%;
height: 150px;
background-color: transparent;
border: 2px solid rgb(27, 17, 0);
border-radius: 12.5%;
justify-self: center;
position: relative;
z-index: 0;
overflow: hidden;
}

#abilities-block::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgb(255, 229, 189);
  border-radius: 12.5%;
  z-index: -1; 
  opacity: 75%
}

#abilities-block > * {
  padding-left: 40%;  /* This padding is for testing purposes only - DELETE */
  position: relative; 
  z-index: 1;
  color: rgb(27, 17, 0);
}

#skills-block {
  margin-left: 4.75%;
  min-height: 60vh; /* This height setting is for testing development purposes only - DELETE */
  height: fit-content;
  width: 400px;
  background-color: transparent;
  border: 2px solid rgb(27, 17, 0);
  border-radius: 12.5%;
  position: relative;
  z-index: 0;
  overflow: hidden;
}

#skills-block::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgb(255, 229, 189);
  border-radius: 12.5%;
  z-index: -1; 
  opacity: 75%
}

#skills-block > * {
  padding-left: 30%;  /* This padding is for testing purposes only - DELETE */
  position: relative; 
  z-index: 1;
  color: rgb(27, 17, 0);
}